
.stroll-wrapper
  width 100%
  .header-wrapper
    width 100%
    overflow hidden

    header
      width 100%
      background #89be48
      z-index 200
      position fixed
      top 0
      left 0
      .header-content
        width 100%
        p
          width 80%
          margin 0 auto
          height 48px
          font-size 20px
          line-height 48px
          text-align center
          color white

  .content-wrapper
    width 100%
    margin-top 48px
    .content
      width 100%
      background white
      overflow hidden
      .goods
        width: 50%
        float left
        .product-list
          width 100%
          .product
            width 94%
            margin 3%
            position relative
            img
              width 100%
              border-radius 8px
            .tag-new
              background greenyellow
              font-size 12px
              padding 3px
              position absolute
              left 0
              top 12px
            .text
              padding 5px
              font-size 14px
              color #333333
            .howmuch
              .price
                font-size 16px
                color red
              .old-price
                font-size 13px
                color #b3b3b3
                text-decoration line-through
              .sell-count
                margin-left 40px
                font-size 15px
                color #b3b3b3

      .goods
        .menu
          width 94%
          margin 3%
          overflow hidden
          .new-price,.new-product
            font-size 16px
            height 59px
            line-height 59px
            float left
            background #eee
            width 47%
            border-radius 8px
            margin 2px
            text-align center






